<div class="background">

  <div class="main-card">

    <h2 class="title">Lista de Usuários</h2>

    @if (carregando) {
      <p>Carregando...</p>
    }

    @if (erro) {
      <p>Erro ao carregar usuários.</p>
    }

    @if (!carregando && !erro){
      @for (user of usuarios; track user.id) {

        <div class="user-card">

          <p><strong>Nome:</strong> {{ user.name }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Cidade:</strong> {{ user.address.city }}</p>

          <button class="detail-button" [routerLink]="['/user-detail', user.id]">
            Ver detalhes
          </button>

        </div>

      }
    }

  </div>

</div>
